.input {
    margin-top: 4%;
    display: flex;
    width: 80%;
    position: relative;
    align-items: center;
}

.input_box {
    border: none;
    width: 100%;
    border-radius: 50px;
    padding: 15px 22px;
    font-size: 3.5vh;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}


.input_submit {
    position:absolute;
    width: 8%;
    height:80%;
    margin: 1.2vh;
    border-radius: 50%;
    right: 0;
    border: none;
    font-size: 2vh;
    background-color: rgb(101, 160, 237);
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px rgb(73, 73, 73);
}

.input_submit:hover {
    
    background-color: rgb(83, 160, 236);
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.todos{
    display:flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}

.todos_single {
    display: flex;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    background-color: rgb(106, 139, 232);
}

.todos_single_text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 4vh;
    background-color: rgb(140, 174, 235);
}

.completedtrue {
    text-decoration: line-through;
    opacity: 0.5;
  }

.todos_single_text:focus {
    outline: none;
}

.icon {

    margin:10px;
    font-size: 3.5vh;
    cursor: pointer;
}

.searchicon {
    float: left;
    margin-top: -20px;
    position: relative;
    pointer-events:none;
    top: 26px;
    left: 8px;
    color: white;
    z-index: 2;
    }



    .add_todo  {
        display: flex;
        margin-top: 3%;
        width: 40%; 
     

    }
 
 .extand { 
    border: none;
     width: 15%;
     box-sizing: border-box;
     border-radius: 20%;
     font-size: 4.5vh;
     background-color: rgb(140, 174, 235);
     background-position: 10px 10px;
     background-repeat: no-repeat;
     -webkit-transition: width 0.4s ease-in-out;
     transition: 0.4s ease-in-out;
    
 }
 .extand:focus {
 outline: none !important;
 border-width: 0px !important;
 border: none !important;
 border-radius: 4px;
 width: 70%;
 
 }
 input:focus::placeholder {
    color: transparent;
    
  }

  .buttons_box{
      margin-top: 4%;
      width: 60%;
  }

  .buttons {

    background-color: rgb(140, 174, 235);
    color: black;
    border: 2px solid #7ea5e2;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .buttons:hover {
    background-color: #555555;
    color: white;
  }

  @media (max-width: 1000px) {
      .todos{
       width: 80%;
      }
    .todos_single {
      width: 90%;
    }

    .add_todo  {
     width: 70%; 
    }
  }
  
  @media (max-width: 700px) {
    .input_submit {
      
      width: 20%;
      height:80%;
      font-size: 2vh;
     
  }

  .input_box {
   padding: 10px 22px;
    font-size: 3vh;
    
}

.icon {
  font-size: 3vh;
  
}

    .todos {
      width: 95%;
    }
    .todos_single {
      width: 80%;
    }

    .input {
     width: 80%;
      
  }

    .todos_single_text{
        padding: 0.5vh;
        font-size: 2vh;
       
    }

    .extand { 
       font-size: 3vh;  
   }

    .buttons {
      padding: 8px 20px;
      font-size: 2vh;
    }
  }

  


 

  
  